.wrapper-modal {
  display: block;
  width: 100%;
  height: 100%;
  background: $color-bg-modal;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 30rem;
  height: 15rem;
  text-align: center;
  background-color: $color-blue;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--gray {
    background-color: $color-gray-1;
  }

  &__title {
    margin-top: 1rem;
    color: $color-white;
    font-size: 2rem;
    font-weight: 600;
  }

  &__content {
    font-size: 2rem;
    font-weight: 600;
    color: $color-white;
    margin-top: 2rem;
  }

  &__btn-cancel {
    display: inline-block;
    background-color: $color-red;
    padding: 1rem 2rem;
    width: 30%;
    margin: auto;
    border-radius: 1rem;
    transition: all 0.3s ease-in;
    color: $color-white;

    &:hover {
      background-color: $color-red-1;
    }
  }
}
